#keepInTouch {
  width: 70vw;
  margin: 120px auto;
  justify-content: center;
}

.rowContainer {
  display: flex;
}

#leftComponent {
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#rightComponent {
  border: 2px solid #f6f8fa;
  border-radius: 8px;
  padding: 1em;
}

form {
  max-width: 580px;
  margin: auto;
}

.rightComponentField {
  padding: 5px 0;
}

.contactInput {
  width: 100%; 
}

.contactTxt {
  font-size: 1em;
}

#contactButton {
  border: none;
  padding: 5px;
}

.bigTxt {
  font-size: 1.2em;
}

.contactIcon {
  padding: 10px;
}

@media screen and (max-width: 650px) {
  #keepInTouch {
    width: 90vw;
  }
}

@media screen and (max-width: 1000px) {
  #keepInTouch {
    flex-direction: column;
  }
}