.rowContainerPost {
  display: flex;
  justify-content: center;
  align-items: center;
}

#postContainer {
  position: fixed;
  top: 100px;
  z-index: 10;
  display: flex;

  max-width: 80vw;
  max-height: 85vh;

  background-color: white;

  overflow: scroll;
}

#postTitle {
  margin-top: 0.3em;
  margin-bottom: 0.08em;

  font-size: 3em;
  color: #5c4e4e;
  text-align: center;  
}

.postData {
  font-size: 1.1em;
}

#postAuthor {
  font-family: 'Marck Script';
  font-size: 1.3em;
  color: #93a6bb;
}

#postImg {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  
  max-width: 40vw;
}

#postContent {
  min-width: 950px;
  padding: 30px
}

.closingIcon {
  float: right;

  max-height: 40px;
  padding: 0 10px;
  border: 1px solid white;

  background-color: white; 

  font-size: 30px;
}