/* **************************************** */
/* ************ SUBTOTAL CHART ************ */
#subtotalChart {
  min-width: 20vw;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #f6f8fa;
} 

.subtotalTxtLarge {
  font-size: 1.2em;
  font-weight: bolder;
}

#checkoutButton {
  min-width: 30vw;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.shoppingFlex {
  display: flex;
  justify-content: space-between;
}

#shoppingCenter {
  display: flex;
  justify-content: center;
}

.shoppingImg {
  width: 230px;
}

.shoppingContent {
  width: 35vw;
  margin: auto;
  padding: 0 20px;
}

#shoppingCartContainer {
  width: 50vw;
  max-height: 75vh;
  overflow: scroll;
}

#shoppingCart {
  position: fixed;
  top: 100px;
  min-width: 90vw;
}

.shoppingItem {
  width: 50vw;
  margin-bottom: 1.2em;
  padding: 0 0 1.2em;
}

.shoppingTxtMedium {
  font-size: 1.3em;
}

.txtBold {
  font-weight: bolder;
}

.shoppingButton {
  border: none;
  background-color: #cf7c8b;
  color: white;
}

.productQty {
  min-width: 30px;
  text-align: center;
}

.shoppingBottomBorder {
  border-bottom: 1px solid #d5dfe8;
}

.shoppingButton:hover {
  background-color:  #BE4D62;
  color: white;
}

.removeButton {
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  font-size: 1em;
}

@media screen and (max-width: 1000px) {
  #shoppingCart {
    display: flex;
    flex-direction: column;
    background-color: red;
  }
}